<img src="/img/lucio.jpg" />

<ul>
  <li>
      Uses the power of sick beats to heal and buff teammates.
  </li>
  <li>
      His sonic gun can knock back opponents, making it great for enviromental dangers.
  </li>
  <li>
      He can wall-ride with his rollerblades. Even though this is not a jetpack, it's still pretty cool.
  </li>
  <li>
      He's a Brazillian DJ who uses music to attack and heal with futuristic rollerblades that let him skate on walls.
      If I need to tell you why he's cool then I can't help you.
  </li>
</ul>
