<img src="/img/pharah.jpg" />

<ul>
  <li>
    Soars above the fray with her jetpack.
  </li>
  <li>
    Armed with a rocket launcher and a concussion blast. And a jetpack.
  </li>
  <li>
    Did you guys ever play Tribes? Pharah plays like she's from Tribes.
  </li>
  <li>
    Tribes had jetpacks and it totally ruled.
  </li>
  <li>
    If you ever get the chance to play it, you should. It was way ahead of its time.
  </li>
  <li>
    Frickin' Tribes, man.
  </li>
  <li>
    Wait, what was I talking about?
  </li>
  <li>
    Oh, right.
  </li>
  <li>
      JEEEEETTTTTTT PAAAAAAAACCCCKKKSSSSSSSS
  </li>
</ul>
